	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>講座修正</title>
		<link rel="stylesheet" href="../css/admin/courseUpdate.css">
	</head>
	<body>
		<h1 class="title">講座修正</h1>
		
		<form th:action="@{updateConfirm}" method="post" th:object="${registerEntity}">
			<label class="courseno-block">講座番号</label>
			<span th:text="*{course_no}"></span><br>
			<label class="coursename-block">講座名</label>
			<input type="text" th:field="*{course_name}" maxlength="40" th:value="*{course_name}"/>
			<span th:if="${courseNameError}" th:text="${courseNameError}"></span><br>
			
			<label class="thedate-block">開催日時</label>
			<select th:field="*{iyear}">
				<option th:if="*{iyear}" th:value="*{iyear}" th:text="*{iyear}"/>
				<option value="">
				<option th:value="${year}" th:each="year : ${yearList}" th:text="${year}"/>
			</select>年
			
			<select th:field="*{imonth}">
				<option th:if="*{imonth}" th:value="*{imonth}" th:text="*{imonth}"/>
				<option value=""/>
				<option th:value="${month}" th:each="month : ${monthList}" th:text="${month}"/>
			</select>月
			
			<select th:field="*{iday}">
				<option th:if="*{iday}" th:value="*{iday}" th:text="*{iday}"/>
				<option value=""/>
				<option th:value="${day}" th:each="day : ${dayList}" th:text="${day}"/>
			</select>日
			<span th:if="${message}" th:text="${message}"></span><br>
			
			<label class="time-block">開始時刻</label>
			<select th:field="*{shour}">
				<option th:if="*{shour}" th:value="*{shour}" th:text="*{shour}"/>
				<option value=""/>
				<option th:value="${stHour}" th:each="stHour: ${stHourList}" th:text="${stHour}"/>
			</select>時
			
			<select th:field="*{sminute}">
				<option th:if="*{sminute}" th:value="*{sminute}" th:text="*{sminute}"/>
				<option value=""/>
				<option th:value="${stMinute}" th:each="stMinute: ${stMinuteList}" th:text="${stMinute}"/>
			</select>分
			<span th:if="${startTimeError}" th:text="${startTimeError}"></span><br>
			
			<label class="time-block">終了時刻</label>
			<select th:field="*{ehour}">
				<option th:if="*{ehour}" th:value="*{ehour}" th:text="*{ehour}"/>
				<option value=""/>
				<option th:value="${etHour}" th:each="etHour : ${etHourList}" th:text="${etHour}"/>
			</select>時
			
			<select th:field="*{eminute}">
				<option th:if="*{eminute}" th:value="*{eminute}" th:text="*{eminute}"/>
				<option value=""/>
				<option th:value="${etMinute}" th:each="etMinute: ${etMinuteList}" th:text="${etMinute}"/>
			</select>分
			<span th:if="${endTimeError}" th:text="${endTimeError}"></span>
			<span th:if="${contradiction}" th:text="${contradiction}"></span><br>	
			
			<label class="capacity-block">定員</label>
			<input type="text" th:field="*{capacity}"/>
			<span th:if="${capacityError}" th:text="${capacityError}"></span>
			
			<div>
				<input type="submit" value="戻る" formaction="/courseList" name="situation" class="back-button"/>
				<input type="submit" value="確認" class="confirm-button"/>
			</div>
		</form>
	</body>
</html>